{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TweetMe {% block title %}{% endblock title %}</title>

    <link href="{% static 'mine/css/custom.css' %}" rel="stylesheet">
{#    <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">#}
    <link href="{% static 'fontawesome/dist/css/all.css' %}" rel="stylesheet">



    <script  language="JavaScript" type="text/javascript" src="{% static 'jquery/jquery-3.4.1.min.js' %}" ></script>
{#    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}" ></script>#}





    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <script language="JavaScript" type="text/javascript" src="{% static 'mine/js/custom.js' %}" ></script>
    {% block script %}{% endblock %}
    <script> empty_img = '{% static 'media/mine/empty_pic.jpeg' %}'</script>
</head>
<body style="background: url('{% static 'media/mine/bk_2.jpg' %}')">

    {% include 'navbar.html' %}

    <div class="container">
        <div class="row">

                {% block content %}
                {% endblock %}

        </div>

    </div>

    {% include 'footer.html' %}

</body>


</html>