<footer class="footer">
         <div class="container">
            <div class="row">
              <div class="col-md-12 text-center footer1">

                 <!-- Facebook -->
                  <a class="fb-ic social-icon">
                    <i class="fab fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <!-- Twitter -->
                  <a class="tw-ic social-icon">
                    <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>

                  <!--Linkedin -->
                  <a class="li-ic social-icon">
                    <i class="fab fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
            </div>
            </div>
            <br>
            <div class="row text-center footer2"> © 2019. Made by Hossam ElNeily.</div>
         </div>
</footer>



