<!-- Footer -->
<footer class="font-small bg-light navbar-fixed-bottomt">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center pt-3">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab  fa-lg fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-lg fa-twitter"> </i>
        </a>
      </li>

      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-lg fa-linkedin"> </i>
        </a>
      </li>

    </ul>
    <!-- Social buttons -->


  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1">© 2019 Copyright:Made by Hossam ElNeily.

  </div>
  <!-- Copyright -->
    </div>
</footer>
<!-- Footer -->



