{% load  static %}

<div class="card bg-light text-dark mt-5">

    <div class="card-body cd-bd">
            <div class="row">
                <div class="col-md-12 ">

                        <a class="" href="#">
                            <img class="media-object rounded-circle mx-auto d-block" src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'media/mine/empty_pic.jpeg' %}{% endif %}" style="width: 100px;height:100px;">
                        </a>

                </div>
                <div class="col-md-12">

                    <h2>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }} </h2>
                    <h3 class="remove-decoration">Software Developer at Itlogiakuwait</h3>
                    <p>
                        <a href="#" class="remove-decoration"><i class="fas fa-envelope"></i> {{ user.email }}</a> <br>
                        <a href="" target="_blank" class="remove-decoration"><i class="fab fa-github"></i> www.hossamelneily.me </a><br>
                        <a href="#" class="remove-decoration"> <i class="fas fa-mobile"></i> +965 94720613</a><br>
                        <a href="#" class="remove-decoration"> <i class="far fa-clock"></i> Joined {{ user.profile.date_joined|date:'F Y' }}</a>
                    </p>
                </div>
            </div>
    </div>


    <div id="IdFooter" class="card-footer" >
        <ul class="social-network social-circle">
            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
{#    <button class="btn btn-light" style="background-color: lightskyblue" id="Editbtn">Edit Profile</button>#}
<!-- <div id="wrapper" class="open"> REMOVE THIS  -->
{#    <div id="wrapper">#}
{#      <ul id="list">#}
{#        <li>Item</li>#}
{#        <li>Item</li>#}
{#        <li>Item</li>#}
{#        <li>Item</li>#}
{#      </ul>#}
{#    </div>#}


</div>

