.fa-twitter {
    color: lightskyblue;
  }
.fa-facebook {
    color: lightskyblue;
  }
.fa-google-plus{
	color: lightskyblue;
}

.fa-linkedin {
	color: lightskyblue;
}
/**{*/
	/*padding: 0;*/
    /*margin: 0;*/
/*}*/
html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Work-Sans',sans-serif;
    /*font-weight: 300;*/
	margin:0;
   	padding:0;
   	height:100%;
	/*margin-bottom: 60px*/
}


/*Body FOOTER  START///////////////////*/
footer {
   position: absolute;
	width: 100%;
	bottom: 0px;
	/*height: 60px;*/
	margin-top: auto;
	/*border-top: 3px solid lightskyblue;*/
}
/*Body FOOTER  END///////////////////*/


#TweetTA {
    border: 1px #ddd solid;
    height: 120px;
    font: 12pt Consolas;
	border: 1px solid lightskyblue;
    resize: none;
}

/*!* navbar *!*/
/*.navbar-default {*/
    /*background-color: #F8F8F8;*/
    /*border-color: #E7E7E7;*/
/*}*/
/*!* title *!*/
/*.navbar-default .navbar-brand {*/
    /*color: #777;*/
/*}*/

/*.navbar-default .navbar-brand:hover,*/
/*.navbar-default .navbar-brand:focus {*/
    /*color: #5E5E5E;*/
/*}*/



.social-icon {
 width: 20px;
 height: 20px;
 margin: 0 5px;
}



/*.panel-heading {*/
    /*padding: 10px 15px;*/
    /*background-color: #353535;*/
    /*border-top: 1px solid #ddd;*/
    /*border-bottom-right-radius: 3px;*/
    /*border-bottom-left-radius: 3px;*/
    /*position: absolute;*/
    /*top: 0%;*/
    /*cursor:pointer;*/
    /*opacity:0.8;*/
    /*color:white;*/
    /*border:none;*/
/*}*/
/*.cd {*/
	/*margin-top: 2.5em;*/
/*}*/
.cd-bd {
    padding: 1rem !important;
}

/*.box {*/
    /*padding:2%;*/
    /*border:1px #ddd solid;*/
    /*cursor:pointer;*/
/*}*/


.remove-decoration {
    text-decoration:none !important;
    color:#333;
    font-size:13px;
}

/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
    list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
#IdFooter .social-network a.icoRss:hover {
	background-color: #F56505;
}
#IdFooter .social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
#IdFooter .social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
#IdFooter .social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
#IdFooter .social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
#IdFooter .social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
#IdFooter .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
#IdFooter .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
#IdFooter a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

#IdFooter .social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 25px;
	height: 25px;
	/*font-size:20px;*/
}
#IdFooter .social-circle li i {
	margin:0;
	line-height:20px;
	text-align: center;
}
.panel-footer{
	padding: 5px 19px;
}
#IdFooter .social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
#IdFooter .social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

#IdFooter a {
 background-color: #D3D3D3;
}


/*.footer2{*/
	/*padding: 5px 5px;*/

/*}*/

.addons {
	font-size: small;
}

.preview-box {
	padding: 15px;
    cursor: pointer;
    overflow: hidden;
    background: #FFF;
    border: 1px solid lightblue;
    border-radius: 14px;

}
.preview-box:hover{
	background: #f9f9f9;
}

.LoadMoreTweets{
	background-color: lightskyblue;!important;
}

.MidContent{
	/*margin-left: 18px;*/
	background-color: #f9f9f9;
	border: 1px solid grey;
	border-radius: 5px;

}

#tweet_form {
	/*padding-right: 40px;*/
    padding-left: 40px;
    /*padding-top: 20px;*/
    padding-bottom: 5px;
}

/* /////////////////////////////Registration Form START//////////////////////// */

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 14px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: lightskyblue;
    color: #fff;
}

/* /////////////////////////////Registration Form END//////////////////////// */

.navbar-search .search_query{
	/*padding: 4px 9px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.75);
    background: #666;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid lightskyblue;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
	border-radius: 14px;
}

/*a{*/
	/*color: #4267B2;*/
/*}*/

#LinkBlueColor{
	color: #4267B2;
}

.input-group ~ .invalid-feedback{ display: block; }

.nonfield{
    color: red;
}

label[for='image']{

}

/*#id_image{*/
    /*display: none;*/
/*}*/
#retweet-icon:visited{
    color: #17BF63;
    pointer-events: none;
    cursor: default;
}

#LinkgreyColor{
	color: grey;
}