{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{#{% url 'accounts:password_change_done' as password_change_done %}#}

{% block content %}
<div style="margin-bottom: 130px;" class="card bg-light mt-5 col-md-4 offset-md-4">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Change your Password , <span style="color: lightskyblue;">{{ request.user.username}}</span></h4>
        <form method='post' action='/accounts/password_change/done/'>{% csrf_token %}
            {% crispy_addon form.old_password prepend="<span> <i class='fa fa-lock'></i> </span>" form_show_labels=True %}
            {% crispy_addon form.new_password1 prepend="<span> <i class='fa fa-lock'></i> </span>" form_show_labels=True %}
            {% crispy_addon form.new_password2 prepend="<span> <i class='fa fa-lock'></i> </span>" form_show_labels=True %}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" style="background-color: lightskyblue;" class='btn btn-block btn-light'>Save</button>
        </form>
</article>
</div>


{% endblock %}
