{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}

<div class='Login-register card mt-4 col-md-5 mx-auto'>
<article class="card-body">
    <h4 class="card-title mt-3 text-center">Set your Password</h4>
    <form method='post' action=''>{% csrf_token %}
    {% crispy_addon form.new_password1 prepend="<span> <i class='fa fa-lock'></i> </span>" form_show_labels=True%}

    {% crispy_addon form.new_password2 prepend="<span> <i class='fa fa-lock'></i> </span>" form_show_labels=True%}
    <div class="text-center">
        <button type="submit" style="background-color: lightblue" class='btn  btn-light'>Set new password</button>
    </div>
    </form>
</article>
</div>

{% endblock %}

