{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block content %}

<div class='Login-register card mt-4 col-md-5 mx-auto'>
<article class="card-body">
    <h4 class="card-title mt-3 text-center">Reset your Password</h4>
    <br>
    <form method='post' action=''>{% csrf_token %}

    {% crispy_addon form.email prepend="<span> <i class='fa fa-envelope'></i> </span>" form_show_labels=False%}

    <div class="text-center">
        <button type="submit" style="background-color: lightblue" class='btn  btn-light'>Reset Password</button>
    </div>
    </form>
</article>
</div>

{% endblock %}
