{% extends 'base.html' %}
{% url 'accounts:profile' slug=request.user.slug as profile_url %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}

    <div class="col-md-3">
            {% include 'user_details.html' with user=object %}<br>
            {% if  request.user != object %}
                {% if object in  request.user.profile.get_following.all%}
                    <a href="{% url 'accounts:Follow' slug=object.slug %}" id="FollowBtn" class="btn btn-light">unFollow</a>
                    {% else %}
                     <a href="{% url 'accounts:Follow' slug=object.slug %}" id="FollowBtn" class="btn btn-light">Follow</a>
                    {% endif %}
            {% endif %}
    </div>


    <div class="col-md-6">
{#     <ul id="IdMedia">#}
        {%  for tweet in  object.tweet_set.all %}
        {{  tweet.content }}<br>
        {% endfor %}
        <h6>who i follow </h6>
        {% for user in object.profile.get_following.all %}  <!-- Myuser QS -->
          <a href="{% url 'accounts:profile' slug=user.slug %}"> {{ user.username  }}</a> <br>
        {% endfor %}
        <hr>
        <h6>i followed b whom </h6>
        {% for profile in object.followed_by.all %}  <!-- Profile QS -->
            <a href="{% url 'accounts:profile' slug=profile.user.slug %}"> {{ profile.user.username }}</a><br>
        {% endfor %}<hr>

{#     </ul>#}
    </div>
{% endblock %}